<ion-view view-title="">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-avatar">
        <img ng-src="img/student.ico">
        <h2>{{student.name}}</h2>
        <p>{{student.address}}</p>
      </div>
      <div>
        <ion-list>
          <div class="item item-divider">
            <i class="icon ion-ios-telephone"></i>  Phone Numbers
          </div>
          <ion-item class="item-icon-right" ng-repeat="phone in phones" type="item-text-wrap">
            <h2>{{phone.contact}}</h2>
            <p>{{phone.number}}</p>
            <i class="icon ion-chevron-left icon-accessory"></i>

            <ion-option-button class="button-assertive" ng-click="RemovePhone(phone._id)">
              Delete phone
            </ion-option-button>
          </ion-item>
        </ion-list>
      </div>
    </div>
    <div>
      <button class="button button-block button-balanced" ng-click="showPopup()">
        New Phone Number
      </button>
    </div>
  </ion-content>
</ion-view>
