<ion-view view-title="Students">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <ion-list>
      <ion-item class="item-icon-right" ng-repeat="student in students" href="#/tab/subjects/student/{{student._id}}" type="item-text-wrap">
        <h2>{{student.name}}</h2>
        <i class="icon ion-chevron-left icon-accessory"></i>

        <ion-option-button class="button-balanced" ng-click="AddStudentInSubject(student._id)">
          Enroll
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
