<ion-view view-title="">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-nav-buttons side="right">
    <a class="button" style="border-color: transparent" ng-href="#/tab/subjects/addstudent/{{subject._id}}">
      <i class="icon ion-person-add"></i>
    </a>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-avatar">
        <img ng-src="img/subject.png">
        <h2>{{subject.name}}</h2>
        <p>{{subject.when}}</p>
      </div>
      <div>
        <ion-list>
          <div class="item item-divider">
            <i class="icon ion-ios-people"></i>  Students Enrolled:
          </div>
          <ion-item class="item-icon-right" ng-repeat="subjectstudent in subjectstudents" href="#/tab/subjects/student/{{subjectstudent._id}}" type="item-text-wrap">
            <h2>{{subjectstudent.name}}</h2>
            <i class="icon ion-chevron-left icon-accessory"></i>

            <ion-option-button class="button-assertive" ng-click="QuitStudentInSubject(subjectstudent._id)">
              Delete from subject
            </ion-option-button>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ion-content>
</ion-view>
