<ion-view view-title="New Subject or Student">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Add a new subject
      </div>
      <div class="item item-text-wrap">
          <label class="item item-input item-floating-label">
            <span class="input-label">Name</span>
            <input type="text" placeholder="Name" ng-model="NewSubject.name">
          </label>
          <label class="item item-input item-select">
              <div class="input-label">
                Season
              </div>
              <select ng-model="NewSubject.when">
                <option>Tardor 2016</option>
                <option>Primavera 2017</option>
                <option>Tardor 2017</option>
                <option>Primavera 2018</option>
              </select>
          </label>
          <button class="button button-block button-balanced" ng-click="CreateSubject()">
            Create Subject
          </button>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        Add a new Student
      </div>
      <div class="item item-text-wrap">
        <label class="item item-input item-floating-label">
          <span class="input-label">Name</span>
          <input type="text" placeholder="Name"  ng-model="NewStudent.name">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Address</span>
          <input type="text"  placeholder="Address" ng-model="NewStudent.address">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Home phone</span>
          <input type="text"  placeholder="Home phone" ng-model="NewStudent.number1">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Work phone</span>
          <input type="text" placeholder="Work phone" ng-model="NewStudent.number2">
        </label>
        <button class="button button-block button-balanced" ng-click="CreateStudent()">
          Create Student
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
